[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "markovMSM"]
	path = markovMSM
	url = https://github.com/cran/markovMSM
[submodule "p3state.msm"]
	path = p3state.msm
	url = https://github.com/cran/p3state.msm
[submodule "presmTP"]
	path = presmTP
	url = https://github.com/cran/presmTP
[submodule "presmoothedTP"]
	path = presmoothedTP
	url = https://github.com/cran/presmoothedTP
[submodule "survivalREC"]
	path = survivalREC
	url = https://github.com/cran/survivalREC
